version: '3.5'
services:
  server:
    build: .
    environment:
      - PORT=8080
      - MAXIMUM=4
    ports:
      - "8080:8080"
    networks:
      - docker-net
  web:
    build:
      context: ./web
    stdin_open: true
    tty: true
    ports:
      - "8085:5000"
    networks:
      - docker-net
networks:
  docker-net:
